footer {
    background-color: #e6e6e6;
    padding: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-item, h5 {
   justify-self: center;
}

.follow{
    text-align: right;
    margin: 0% 20%;
    font-size: 22px; 
}
.social {
    display: flex;
    justify-content: flex-end; 
    margin: 2% 16%;
    gap: 40px;
}

img {
    width: 25px;
}

h5 {
    color: #666666;
    font-size: 15px;
}

hr {
    opacity: 0.5;
    width: 85%;
}

.copyright {
    margin-left: 50px;
    padding-top: 10px;
}
