<footer>
    <div class="follow">
        <h3>Siga-nos</h3>
    </div>
    <div class="social">
        <a href="https://www.facebook.com/BMWPortugal/">
            <img src="https://cdn-icons-png.flaticon.com/512/59/59439.png" class="img"></a>
        <a href="https://www.instagram.com/bmwportugal/">
            <img src="https://cdn-icons-png.flaticon.com/512/87/87390.png" class="img"></a>
        <a href="https://www.youtube.com/user/bmwgroupportugal">
            <img src="https://cdn-icons-png.flaticon.com/512/48/48968.png" class="img"></a>
    </div>
    <hr>
    <div class="grid-container">
        <div class="grid-item">
            <h3>Centro de Contacto</h3>

            <h5>Marcar Test Drive</h5>
            <h5>Pedido de Proposta</h5>
            <h5>Marcação de Serviço</h5>
            <h5>Newsletter BMW</h5>
            <h5>Catálogos</h5>
            <h5>Portal FAQ BWM ConnectedDrive</h5>
            <h5>Contactos</h5>
        </div>
        <div class="grid-item">
            <h3>Explorar BMW</h3>

            <h5>BMW.com</h5>
            <h5>BMW.group</h5>
            <h5>BMW.DigitalShowroom</h5>
        </div>
        <div class="grid-item">
            <h3>Notas legais</h3>

            <h5>Política de Privacidade</h5>
            <h5>Política de Cookies</h5>
            <h5>Termos e Condição de Utilização</h5>
            <h5>Resolução Alternativa Litígos</h5>
            <h5>Livro de Reclamações Eletrónico</h5>
            <h5>Cond.Utilização Redes Sociais</h5>
        </div>
    </div>
</footer>
<div class="copyright">
    <p>&copy; BMW Portugal</p>
</div>