.headerImg {
    width: 100%;
}

.container {
    position: absolute;
    top: 120px;
    margin-left: 110px;

}

.m {
    width: 80px;
    margin-top: -7px;
    margin-left: 3px;
}

h1 {
    font-size: 40px;
}

.text {
    font-size: 15px;
    margin-left: 92px;
    margin-top: -37px;
}