.header {
    position: absolute;
    display: flex;
    padding: 35px 164px 0;
    gap: 40px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid;
}

.icons {
    height: 22px;
}

.iconcart {
    height: 23px;
}

.logo {
    height: 100px;
    margin-top: -19px;
    margin-left: -13px;
}