<div class="header">
    <div>Modelos</div>
    <div>Procurar e Comprar</div>
    <div>Sustentabilidade & Mobilidade Elétrica</div>
    <div>Cliente</div>
    <div>Emoção</div>

    <img src="../../../assets/search.png" class="icons">
    <img src="../../../assets/locator.png" class="icons">
    <img src="../../../assets/shopcart.png" class="iconcart">
    <img src="../../../assets/user.png" class="icons">
    <div class="logo">
        <img src="../../../assets/logobmw.png" class="logo" routerLink="/home">
    </div>
</div>