<img
  src="https://www.bmw.pt/content/dam/bmw/marketPT/bmw_pt/images/Teasers/LargeTeasers/2023/LT_2Grand-Coup%C3%A9_Desktop.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1676039940208.jpg"
  class="headerImg">

<!-- Primeiro componente -->
<div class="row">
  <div class="column">
    <img
      src="https://www.bmw.pt/content/bmw/marketPT/bmw_pt/pt_PT/all-models/m-series/bmw-ix-m60/2021/bmw-ix-m60-highlights/jcr:content/par/multicontent/tabs/multicontenttab/items/smallteaser_f9a1/image.transform/smallteaser/image.1639072431995.jpg"
      class="img">
    <h3> Cadeia cinemática do BMW iX M60. </h3>
    <p>A cadeia cinemática de alto desempenho do BMW iX M60, com dois motores BMW M eDrive de alto desempenho, garante
      um débito de potência rápido. A configuração com incidência no eixo traseiro da tração integral e a sonoridade
      emocionante destacam o caráter desportivo. A bateria de alta tensão ampla com uma autonomia elevada garante um
      prazer de conduzir mesmo em viagens longas.</p>
  </div>
  <div class="column">
    <img
      src="https://www.bmw.pt/content/bmw/marketPT/bmw_pt/pt_PT/all-models/m-series/bmw-ix-m60/2021/bmw-ix-m60-highlights/jcr:content/par/multicontent/tabs/multicontenttab/items/smallteaser_9f08/image.transform/smallteaser/image.1643621528868.jpg"
      class="img">
    <h3> Suspensão pneumática adaptativa nos 2 eixos. </h3>
    <p>A suspensão pneumática adaptativa nos dois eixos, com controlo automático do nível e design específico M das
      barras estabilizadoras, garante uma condução extremamente confortável com uma excelente dinâmica de condução.
      Mantém a altura do veículo, independentemente da carga, e ajusta-a automaticamente, dependendo do modo de
      condução.
      Para um maior conforto, agilidade e segurança durante a condução.</p>
  </div>
  <div class="column">
    <img
      src="https://www.bmw.pt/content/bmw/marketPT/bmw_pt/pt_PT/all-models/m-series/bmw-ix-m60/2021/bmw-ix-m60-highlights/jcr:content/par/multicontent/tabs/multicontenttab/items/smallteaser_2cd8/image.transform/smallteaser/image.1639072432217.jpg"
      class="img">
    <h3> Direção ativa integral. </h3>
    <p>A direção ativa integral combina a desmultiplicação variável da direção no eixo dianteiro com as rodas traseiras
      direcionais. A velocidades abaixo de 60 km/h, as rodas traseiras viram em direções opostas e garantem uma maior
      capacidade de manobra e agilidade. A partir de velocidades aproximadas entre os 60 e os 80 km/h, as rodas
      dianteiras e traseiras movimentam-se na mesma direção, aumentando a estabilidade e conforto de condução.</p>
  </div>
</div>

<!-- Segundo -->

<div class="row">
  <img
    src="https://www.bmw.pt/content/dam/bmw/common/all-models/m-series/iX-60/2021/onepager/bmw-ix-m60-onepager-ms-shytech-02.jpg/jcr:content/renditions/cq5dam.resized.img.585.low.time1636554826615.jpg"
    class="imgM60">

  <div>
    <h2>BMW iX M60 - CONCEITO SHY TECH.</h2>

    <p class="textM60">O conceito Shy Tech coloca os ocupantes em primeiro plano e integra a moderna tecnologia no
      design
      de uma forma elegante:
      <li>Inteligência invisível que pode ser experienciada em diversos pormenores no exterior e no interior.</li>
      <li>As funções da grelha em forma de rim, como uma superfície inteligente e com tecnologias de câmara, funções de
        radar, tecnologia de sensores de última geração e elementos de aquecimento.</li>
      <li>Os altifalantes do sistema de áudio estão ocultos no interior, os botões e os controlos são visualmente
        reduzidos.</li>
    </p>
  </div>

</div>

<!-- Terceiro -->

<div class="rowdata">
  <h1>DADOS TÉCNICOS DO BMW iX M60.</h1>

  <img
    src="https://www.bmw.pt/content/dam/bmw/common/all-models/m-series/iX-60/2021/onepager/bmw-ix-m60-onepager-modelbrief-01.jpg/jcr:content/renditions/cq5dam.resized.img.585.low.time1634643911796.jpg">

  <div>
    <table>
      <tr>
        <td>
          <p>Potência em kW (cv):</p>
        </td>
        <td>
          <p>-</p>
        </td>
      </tr>
      <hr>
      <tr>
        <td>
          <p>Aceleração 0-100 km/h em seg.:</p>
        </td>
        <td>
          <p>3,8</p>
        </td>
      </tr>
      <hr>
      <tr>
        <td>
          <p>Autonomia elétrica em km (WLTP):</p>
        </td>
        <td>
          <p>503 - 564</p>
        </td>
      </tr>
      <hr>
      <tr>
        <td>
          <p>Binário (Nm):</p>
        </td>
        <td>
          <p>1.015</p>
        </td>
      </tr>
      <hr>
      <tr>
        <td>
          <p class="energy">Consumo de energia elétrica em <br> kWh/100 km (combinado):</p>
        </td>
        <td>
          <p>21,8 - 24,5</p>
        </td>
      </tr>
      <hr>
    </table>
  </div>
</div>

<button routerLink="/details">Descubra tudo sobre os dados técnicos</button>