.headerImg {
  width: 100%;
}

.row {
  padding: 80px 150px 20px 150px;
  display: flex;
  gap: 25px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.img {
  width: 380px;
}

p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 24px;
}

/*Segundo*/

h2 {
  font-size: 32px;
}

.imgM60 {
  width: 570px;
}

.textM60 {
  letter-spacing: 0.1rem;
}

/*Terceiro*/

.rowdata {
  display: flex;
  padding: 40px 145px;
  flex-wrap: wrap;
  column-gap: 50px;
}

hr {
  width: 120%;
  opacity: 0.5;
}

h1 {
  font-size: 40px;
}

.energy {
  margin-right: 200px;
}

button {
  font-size: medium;
  margin-left: 52%;
  width: 200px;
  height: 50px;
  background-color: #4d4d4d;
  color: #fff;
  margin-bottom: 30px;
}